numpy
matplotlib
scikit-learn
scikit-learn-extra
hdbscan
cornac
kmodes                                                                                                                                        